#StartTwisterForm {
    left: 50%;
    position: absolute;
    margin: auto;
    width: 400px;
    margin-left: 200px;
}

.th {
    text-align: left;
}

.StartFormButton {
    margin-right: 20px;
    width: 100px;
}

.ButtonContainer {
    position: absolute;
    width: 220px;
    margin-top: 10px;
    left: 90px;
}